body{
    background-color: #143109;
}

p {
    margin:0;
    padding-top: 8vh;
    margin-right: 10vh;
    margin-left: 10vh;
    font-size: 3vh;
    background-color: white;
    padding-left: 8vh;
    padding-right: 8vh;
        
}
h3 {
    background-color: #FFAE03;
    font-size: 10vh;
}
pre {
    margin: 0;
    background-color: #04471C;
    color:white;
    font-size: 2vh;
    margin-left: 30vw;
    margin-right: 30vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-top: 5vh;
    padding-left: 3vw;

}
a {
    color: white;
    text-decoration: none;

}
h1{
    color: white;
    font-size: 20vh;
    margin-left: 10vw;
    margin-right: 10vw;
}
table {
    display: none;
}
/*---------------- smart phones ------------ */
@media only screen and (max-width: 800px) {
    body {
        background-color: #1D5338;
    }
}
/*------------ tablets ------------------ */

@media only screen and (min-width: 800px) and (max-width: 1280px) {
    body {
        background-color: #68A551;
    }
}